<p>
  order-menu works!
</p>
<div class="menu" style="text-align: center" >
  <a routerLink='/#' class="menuButton">Show orders</a>
  <a routerLink='/#' class="menuButton">Show executed orders by period of time</a>
  <a routerLink="/#" class="menuButton">Add new order</a>
  <a routerLink="/#" class="menuButton">Update order</a>
  <a routerLink="/#" class="menuButton">Execute order</a>
  <a routerLink="/#" class="menuButton">Cancel order</a>
  <a routerLink="/#" class="menuButton">View order details</a>
  <a routerLink="/main-menu" class="menuButton">Back</a>
</div>
