<p>
  book-menu works!
</p>

<div class="menu" style="text-align: center" >
  <a routerLink='/#' class="menuButton">Show books</a>
  <a routerLink='/#' class="menuButton">Show stale books</a>
  <a routerLink="/#" class="menuButton">Add new book</a>
  <a routerLink="/#" class="menuButton">Remove book</a>
  <a routerLink="/#" class="menuButton">Update book information</a>
  <a routerLink="/#" class="menuButton">View book description</a>
  <a routerLink="/main-menu" class="menuButton">Back</a>
</div>
